git+https://github.com/biosimulators/biosimulators_utils@2d94f53b979beca280127c599e6da6bec43ddc2f#egg=biosmulators_utils
beautifulsoup4
aiohttp
fire
loguru
markdownify
biopython
aiosqlite
aiohttp-client-cache