beautifulsoup4==4.10.0
-e git+https://github.com/biosimulations/biosimulations-physiome.git@2e2c1543a3967566da4b3ae877511d4759b357b0#egg=biosimulations_physiome
certifi==2021.5.30
charset-normalizer==2.0.4
configparser==5.1.0
fire==0.4.0
glob2==0.7
idna==3.2
jsonapi-requests==0.6.2
pkg-utils==0.0.5
Pygments==2.10.0
PyYAML==6.0
requests==2.26.0
requirements-parser==0.2.0
six==1.16.0
soupsieve==2.3.1
tenacity==8.0.1
termcolor==1.1.0
urllib3==1.26.6
