<html>
<body>

<h1>Metabolic Component Library for CellML</h1>
<b>Matthias Koenig</b> [1] & <b>Randall Britten</b> [2]<br />
[1] Charite Berlin, matthias.koenig@charite.de<br />
[2] Auckland Bioengineering Institute<br />

<p>
Implementation of standardized reaction kinetics in CellML for reuse in metabolic models. 
The library covers the metabolic function definitions for processes from COPASI 4.8 (Bulid 35).
</p>

<h3>Naming Conventions</h3>
Substrate is named S (S1, S2, ... in case of multiple substrates)<br />
Products is named P (P1, P2, ... in case of multiple productes)<br />
Inhibitor is named I (I1, I2, ...)<br />
Activator is named A (A1, A2, ...)<br />
Modifier is named M (M1, M2, ...)<br />
Km values are subscripted with the respective substrates or products (P -> Km_P, S -> Km_S, P1 -> Km_P1, ...)<br />
Analog convention for inhibition constants Ki and activation constants Ka.<br />

<h3>Units</h3>
Time: second<br />
Volume Unit: liter<br />
Quantity Unit: mmol<br />

#*
 Render the HTML overview dynamically based on the defined
 components. Changes in the underlying definitions of the
 components will be directly reflected in the documentation.
*#
<h2>Components</h2>
#foreach( $c in $cSet )
	<h3>$c.getName()</h3>
	<p>
	<table>
	<tr>
	<td>
	#foreach ( $var in $c.getVariablesFromKineticsComponent() )
		$var<br />
	#end
	Validation Errors: $c.getNValidationErrors()<br />
	</td>
	
	<td>
	<a href="library/${c.getName()}.cellml">CellML</a><br />
	<img src="formula/${c.getName()}.png" alt="$c.getName()" height=110><br />
	
	#foreach( $m in $c.getSBGNSet())
		$m
		<img src="sbgn/${m}.png" alt="${m}" width=180>&nbsp;
	#end
	</td>
	</tr>
	</table>
	
	<hr />
	</p>
#end

</body>
</html>