<div class="dijit dijitReset dijitLeft dijitContainer"
     dojoAttachEvent="onclick:_onClick,onmouseenter:_onMouse,onmouseleave:_onMouse">
  <div class="dijitReset andreClosablePaneNode"
        dojoAttachPoint="focusNode">
    <span class="dijitReset contentItemIcon ${iconClass}"
          dojoAttachPoint="iconNode"></span>
    <div class="andreClosablePaneButtons">
      <span dojoAttachPoint='sourceButtonNode'
            class='andreClosablePaneSourceButton viewSourceIcon'
            title='View Source'
            dojoAttachEvent='onclick:_onClickSourceButton'></span>
      <span dojoAttachPoint='closeButtonNode'
            class='andreClosablePaneCloseButton closeIcon'
            title='Close'
            dojoAttachEvent='onclick:_onClickCloseButton'></span>
    </div>
    <h3 class="dijitReset andreClosablePaneHeader"
        dojoAttachPoint="titleNode">${heading}</h3>
    <div id="${id}_content"
         class="andreClosablePaneContentContainer"
         dojoAttachPoint="containerNode"></div>
  </div>
</div>
