[submodule "674"]
	path = cAMP
	url = https://models.physiomeproject.org/workspace/674
[submodule "6f8"]
	path = GsProtein
	url = https://models.physiomeproject.org/workspace/6f8
[submodule "6f7"]
	path = LRGbinding_B1AR
	url = https://models.physiomeproject.org/workspace/6f7
[submodule "706"]
	path = units_and_constants
	url = https://models.physiomeproject.org/workspace/706
[submodule "707"]
	path = LRGbinding_M2
	url = https://models.physiomeproject.org/workspace/707
[submodule "6f9"]
	path = GiProtein
	url = https://models.physiomeproject.org/workspace/6f9/
