[submodule "SVP_00000017"]
	path = SVP_00000017
	url = https://models.physiomeproject.org/workspace/SVP_00000017
[submodule "SVP_00000005"]
	path = SVP_00000005
	url = https://models.physiomeproject.org/workspace/SVP_00000005
[submodule "SVP_00000002"]
	path = SVP_00000002
	url = https://models.physiomeproject.org/workspace/SVP_00000002
[submodule "SVP_00000021"]
	path = SVP_00000021
	url = https://models.physiomeproject.org/workspace/SVP_00000021
[submodule "SVP_00000013"]
	path = SVP_00000013
	url = https://models.physiomeproject.org/workspace/SVP_00000013
[submodule "SVP_00000001"]
	path = SVP_00000001
	url = https://models.physiomeproject.org/workspace/SVP_00000001
[submodule "SVP_00000011"]
	path = SVP_00000011
	url = https://models.physiomeproject.org/workspace/SVP_00000011
[submodule "SVP_00000010"]
	path = SVP_00000010
	url = https://models.physiomeproject.org/workspace/SVP_00000010
[submodule "SVP_00000027"]
	path = SVP_00000027
	url = https://models.physiomeproject.org/workspace/SVP_00000027
[submodule "SVP_00000031"]
	path = SVP_00000031
	url = https://models.physiomeproject.org/workspace/SVP_00000031
[submodule "SVP_00000028"]
	path = SVP_00000028
	url = https://models.physiomeproject.org/workspace/SVP_00000028
[submodule "SVP_00000025"]
	path = SVP_00000025
	url = https://models.physiomeproject.org/workspace/SVP_00000025
[submodule "SVP_00000020"]
	path = SVP_00000020
	url = https://models.physiomeproject.org/workspace/SVP_00000020
[submodule "SVP_00000023"]
	path = SVP_00000023
	url = https://models.physiomeproject.org/workspace/SVP_00000023
[submodule "SVP_00000029"]
	path = SVP_00000029
	url = https://models.physiomeproject.org/workspace/SVP_00000029
[submodule "SVP_Templates200906"]
	path = SVP_Templates200906
	url = https://models.physiomeproject.org/workspace/SVP_Templates200906
[submodule "SVP_00000026"]
	path = SVP_00000026
	url = https://models.physiomeproject.org/workspace/SVP_00000026
[submodule "SVP_00000024"]
	path = SVP_00000024
	url = https://models.physiomeproject.org/workspace/SVP_00000024
[submodule "SVP_00000030"]
	path = SVP_00000030
	url = https://models.physiomeproject.org/workspace/SVP_00000030
[submodule "SVP_00000016"]
	path = SVP_00000016
	url = https://models.physiomeproject.org/workspace/SVP_00000016
[submodule "SVP_00000012"]
	path = SVP_00000012
	url = https://models.physiomeproject.org/workspace/SVP_00000012

