[submodule "SVP_00000004"]
	path = SVP_00000004
	url = https://models.physiomeproject.org/workspace/SVP_00000004
[submodule "SVP_00000022"]
	path = SVP_00000022
	url = https://models.physiomeproject.org/workspace/SVP_00000022
[submodule "SVP_00000006"]
	path = SVP_00000006
	url = https://models.physiomeproject.org/workspace/SVP_00000006
[submodule "SVP_00000007"]
	path = SVP_00000007
	url = https://models.physiomeproject.org/workspace/SVP_00000007
[submodule "SVP_00000003"]
	path = SVP_00000003
	url = https://models.physiomeproject.org/workspace/SVP_00000003
[submodule "SVP_00000008"]
	path = SVP_00000008
	url = https://models.physiomeproject.org/workspace/SVP_00000008
[submodule "SVP_00000009"]
	path = SVP_00000009
	url = https://models.physiomeproject.org/workspace/SVP_00000009
[submodule "SVP_00000039"]
	path = SVP_00000039
	url = https://models.physiomeproject.org/workspace/SVP_00000039
[submodule "SVP_00000038"]
	path = SVP_00000038
	url = https://models.physiomeproject.org/workspace/SVP_00000038
[submodule "SVP_00000035"]
	path = SVP_00000035
	url = https://models.physiomeproject.org/workspace/SVP_00000035
[submodule "SVP_00000034"]
	path = SVP_00000034
	url = https://models.physiomeproject.org/workspace/SVP_00000034
[submodule "SVP_00000037"]
	path = SVP_00000037
	url = https://models.physiomeproject.org/workspace/SVP_00000037
[submodule "SVP_00000036"]
	path = SVP_00000036
	url = https://models.physiomeproject.org/workspace/SVP_00000036
[submodule "SVP_00000033"]
	path = SVP_00000033
	url = https://models.physiomeproject.org/workspace/SVP_00000033
[submodule "SVP_00000032"]
	path = SVP_00000032
	url = https://models.physiomeproject.org/workspace/SVP_00000032
[submodule "SVP_00000015"]
	path = SVP_00000015
	url = https://models.physiomeproject.org/workspace/SVP_00000015
[submodule "SVP_00000014"]
	path = SVP_00000014
	url = https://models.physiomeproject.org/workspace/SVP_00000014
[submodule "SVP_00000019"]
	path = SVP_00000019
	url = https://models.physiomeproject.org/workspace/SVP_00000019
[submodule "SVP_00000018"]
	path = SVP_00000018
	url = https://models.physiomeproject.org/workspace/SVP_00000018
[submodule "SVP_Templates200906"]
	path = SVP_Templates200906
	url = https://models.physiomeproject.org/workspace/SVP_Templates200906
[submodule "SVP_00000040"]
	path = SVP_00000040
	url = https://models.physiomeproject.org/workspace/SVP_00000040
[submodule "SVP_00000041"]
	path = SVP_00000041
	url = https://models.physiomeproject.org/workspace/SVP_00000041
[submodule "SVP_00000042"]
	path = SVP_00000042
	url = https://models.physiomeproject.org/workspace/SVP_00000042

